<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%=author.first_name%> <%=author.last_name%> -- Galvanize Reads</title>
    <link href="/css/reset.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <% include ../partials/navbar %>
    <div class="container">
        <div class="row">

                <div class="col s12 center-align">
                    <h3><%=author.first_name%> <%=author.last_name%></h3>

                </div>

                <div class="row">

                    <div class="col s12 m6 center-align">
                        <img src="<%=author.portrait_url%>">
                    </div>

                    <div class="col s12 m6">

                        <h6><strong>Biography</strong>: <%= author.bio %></h6>
                        <h6><strong>Bibliography</strong>:
                            <ol>
                            <%if(books !== undefined) { %>
                                <%books.forEach((book) => {%>
                                    <li><a href="/books/<%=book.id%>" alt="<%=book.title%>"><%=book.title%></a></li>
                                <%});%>
                            <%}%>

                            </ol>

                        </h6>

                        <a class="waves-effect waves-light btn orange" id="editAuthor"><i class="material-icons left">mode_edit</i>Edit Author</a>
                        <a class="waves-effect waves-light btn red" id="deleteAuthor"><i class="material-icons left">delete</i>Delete Author</a>


                    </div>



            </div>


        </div>
    </div>






    <% include ../partials/footer %>
            <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>
