<% include ../partials/header %>
    <title><%= book.title %> -- Galvanize Reads</title>


    <% include ../partials/navbar %>

    <div class="container">
        <div class="row">

                <div class="col s12 center-align">
                    <h3><%= book.title %></h3>


                </div>

                <div class="row">

                    <div class="col s12 m12 l6 center-align">
                        <img src="<%=book.cover_url%>" class="responsive-img">
                    </div>

                    <div class="col s12 m12 l6">

                        <% if(authors !== undefined && authors.length > 0) { %>
                            <h5>Written by:
                            <%for(let i = 0; i < authors.length; i++){ %>
                                <a href="/author/<%=authors[i].id%>" alt="<%=authors[i].last_name%>"><%= authors[i].first_name%> <%=authors[i].last_name %></a><%if(i !== authors.length-1){%>,<%}%>
                            <%} %>
                            </h5>
                        <% } %>

                        <h6><strong>Genre</strong>: <%= book.genre %></h6>
                        <h6><strong>Description</strong>: <%= book.description %></h6>

                        <a class="waves-effect waves-light btn orange" id="editBookBtn"><i class="material-icons left">mode_edit</i>Edit Book</a>
                        <a class="waves-effect waves-light btn red" id="deleteBookBtn"><i class="material-icons left">delete</i>Delete Book</a>

                    </div>



            </div>


        </div>
    </div>
    <% include ../partials/footer %>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/books.js"></script>

</body>

</html>
