<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Galvanize Reads -- <%= book.title %></title>
    </head>
    <body>

        <h1><%= book.title %></h1>
        <h3><%= book.genre %></h3>
        <h3><%= book.description %></h3>
        <img src="<%=book.cover_url%>">
        <%for(let i = 0; i < authors.length; i++){ %>
            <h1><%= authors[i].last_name %></h1>
        <%} %>




    </body>
</html>
