<% include ../partials/header %>
        <title>Edit Author -- Galvanize Reads</title>

        <% include ../partials/navbar %>

        <div class="container">
        <h3>Edit Author</h3>

        <div class="row">

            <div class="col s12 m6">

                <form id="editAuthorForm">
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="first_name" name="first_name" type="text" value="<%=data.first_name%>">
                            <label for="first_name">First name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="last_name" name="last_name" type="text" value="<%=data.last_name%>">
                            <label for="last_name">Last name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="bio" name="bio" class="materialize-textarea"><%=data.bio%></textarea>
                            <label for="bio">Bio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="portrait_url" name="portrait_url" type="text" value="<%=data.portrait_url%>">
                            <label for="portrait_url">Portrait URL</label>
                        </div>
                    </div>


                    <div class="row">
                        <button class="btn waves-effect waves-light orange" type="submit" name="action" id="editBookSubmit">Submit</button>

                    </div>

                </form>

            </div>

            <div class="col s12 m6">

                <img src="<%=data.portrait_url%>" alt="<%=data.last_name%>">

            </div>

        </div>
    </div>


        <% include ../partials/footer %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/authors.js"></script>
    </body>
</html>
